.product-container img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}
.product-container{
    width: 300px;
    height: 500px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.product-name{
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin-top: 6px;
}
.product-price{
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    margin-bottom: 10px;
}
.product-info{
    margin: 0 14px;
}
.product-info p{
    margin-bottom: 0px;
    margin-top: 0px;
}
.add-cart{
    background-color: #FFE0B3;
    width: 100%;
    height: 48px;
    border-radius: 0px 0px 8px 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.0125em;
    color: #0E161A;
    position: absolute;
    bottom: 0px;
    border: none;
}
.add-cart:hover{
    background-color:rgba(255, 166, 0, 0.61);
}